.pos .payment-numpad .numpad button {
    width: 73px;
    height: 73px;
}
.pos .clientlist-screen .client-detail > .label{
    font-weight: bold;
    display: inline-block;
    width: 75px;
    text-align: right;
    margin-right: 8px;
    color: #000;
}
.pos .paymentlines .pos_label > * {
    font-size: 16px;
    padding: 8px;
    color: #000;
    line-height: 1;
    font-weight: 700;    
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
