<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <h2 class="oe_slogan" style="color:#2C0091;">Sales, Purchase, Invoices, Inventory, BOM, Scrap - All In One Barcode Scanner</h2>
      <h3 class="oe_slogan">Do your time wasting in sales, purchases, invoices, inventory, inventory adjustment, bill of material, scrap operations by manual product selection ?
     So here is the solutions this modules useful do quick operations of sales, purchases, invoicing and inventory, bill of material, scrap using barcode scanner.
     You no need to select product and do one by one. scan it and you done!</h3>
        So be very quick in all operations of odoo and cheers!
      <h2 align="center">
	      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" href="https://youtu.be/wwbig4DXVVc" target="_blank">How it works? Click here to watch video</a>
      </h2>      
      <h2 align="center">
	      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" href="https://youtu.be/9x1gpgeKNaY" target="_blank">Inventory Adjustment</a>
      </h2>      
      <h2 align="center">
	      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" href="https://youtu.be/0UDFs5O-osw" target="_blank">Bill of Material</a>
      </h2>      
      <h2 align="center">
	      <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" href="https://youtu.be/DsmEna82bJI" target="_blank">Scrap</a>
      </h2>      
      
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <div class="oe_span12">
      <p class="oe_mt32">
		</p><div class="alert alert-info" style="padding:8px;font-weight: 300; font-size: 20px;">
		  <i class="fa fa-hand-o-right"></i><b> Key features: </b>
			<ul class="list-unstyled">
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				Easy to add products in sale order, purchase order, customer invoices, vendor bills, delivery order, incoming order,etc by barcode scanner.
			  </li>			
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				No special configuration required, install it, use it.
			  </li>
			  <li>
				<i class="fa fa-check-square-o text-primary"></i>
				This module save your important time.
			  </li>			
			</ul>
			<br/>
		  <i class="fa fa-hand-o-right"></i><b>Latest Version Updates</b> 
		    <ul class="list-unstyled">
			  <li> 
				<i class="fa fa-check-square-o text-primary"></i>
				Add products in inventory adjustment.
			  </li> 
			  <li> 
				<i class="fa fa-check-square-o text-primary"></i>
				Add products in bill of material.
			  </li> 
			  <li> 
				<i class="fa fa-check-square-o text-primary"></i>
				Add products in scrap order.
			  </li> 
		    </ul>			
		</div>
    </div>
  </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Products With EAN-13 Barcode.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="1.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Select Partner and Save or Confirm Order</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="2.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">On Barcode Scanned Product added to Sale Order Line.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="3.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">On Barcode Scanned Product added to Purchase Order Line.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="4.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">On Barcode Scanned Product added to Customer Invoice Line.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="5.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">On Barcode Scanned Product added to Vendor Bill Line.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="6.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">On Barcode Scanned Product's Done Qunatity Incremented by One.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="7.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Warn User if Done Quantity exceeds to To Do Quantity.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="8.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">In stock inventory adjustment, scanned product is added to "Inventory Details" line and "Real Quantity" set to 1.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="9.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">On product barcode scanned, if scanned product exist than in "Inventory Details" line "Real Quantity" is increased by 1. If scanned product does not exist than product is added to "Inventory Details" line and "Real Quantity" set to 1.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="10.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">On Barcode Scanned Product added to BoM Line. If product exist than quantity increased by 1, if not exist than new product entry created.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="11.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">On Barcode Scanned Product added to BoM Line. If product exist than quantity increased by 1, if not exist than new product entry created.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="11.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Barcode field added to scrap order. Place cursor on Barcode field and scan product. Product selected if barcode exist, if again same product scanned than qty increased by 1 on each scan.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="12.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">From Stcok Transfer inside header  on "Scrap" button click allows to select product on barcode scan, and on each scan qty increased by 1 if same product scanned</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="13.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">Scrap order created using barcode scanner.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="14.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark"> 
	<div class="oe_row oe_spaced"> 
		<h2 class="oe_slogan" style="color:#2C0091;">Our Other Barcode Scanner Apps!</h2> 
			<div class="col-md-4" align="center"> 
				<a href="https://www.odoo.com/apps/modules/11.0/sh_invoice_barcode_scanner/">
					<img src="https://www.odoo.com/apps/modules/11.0/sh_invoice_barcode_scanner/icon.png" alt="Invoices Barcode Scanner" height="200"/> 
    			</a>
    			<br/>
    			<strong>Invoices Barcode Scanner</strong>
   		    </div> 
			<div class="col-md-4" align="center"> 
				<a href="https://www.odoo.com/apps/modules/11.0/sh_inventory_barcode_scanner/">
					<img src="https://www.odoo.com/apps/modules/11.0/sh_inventory_barcode_scanner/icon.png" alt="Inventory Barcode Scanner" height="200"/> 
    			</a>
    			<br/>
    			<strong>Inventory Barcode Scanner</strong>
   		    </div> 
   		    <div class="col-md-4" align="center"> 
   		    	<a href="https://www.odoo.com/apps/modules/11.0/sh_inventory_adjustment_barcode_scanner/"> 
   		    	<img src="https://www.odoo.com/apps/modules/11.0/sh_inventory_adjustment_barcode_scanner/icon.png" alt="Stock Adjustment Barcode Scanner" height="200"/>
				</a>
				<br/> 
				<strong>Stock Adjustment Barcode Scanner</strong> 
			</div>
	</div> 
	
	<div class="oe_row oe_spaced" align="center" style="display:flex;justify-content:center;"> 
   		    <div class="col-md-4" align="center" > 
   		    	<a href="https://www.odoo.com/apps/modules/11.0/sh_sale_barcode_scanner/"> 
   		    	<img src="https://www.odoo.com/apps/modules/11.0/sh_sale_barcode_scanner/icon.png" alt="Sale Order Product Barcode Scanner" height="200"/>
				</a>
				<br/> 
				<strong>Sale Order Product Barcode Scanner</strong> 
			</div>			
   		    <div class="col-md-4" align="center"> 
	   		    <a href="https://www.odoo.com/apps/modules/11.0/sh_purchase_barcode_scanner/"> 
   			    <img src="https://www.odoo.com/apps/modules/11.0/sh_purchase_barcode_scanner/icon.png" alt="Purchase Order Product Barcode Scanner" height="200"/>
			    </a>
			    <br/>
			    <strong>Purchase Order Product Barcode Scanner</strong> 
   		    </div>   	
   		    <div class="col-md-4" align="center"> 
	   		    <a href="https://www.odoo.com/apps/modules/11.0/sh_bom_barcode_scanner/"> 
   			    <img src="https://www.odoo.com/apps/modules/11.0/sh_bom_barcode_scanner/icon.png" alt="BOM Barcode Scanner" height="200"/>
			    </a>
			    <br/>
			    <strong>BOM Barcode Scanner</strong> 
   		    </div>   	
	</div> 
	
</section>

<br/>

<section class="oe_container oe_dark"> 
	<div class="oe_row oe_spaced"> 
		<h2 class="oe_slogan" style="color:#2C0091;">Want similar feature in other module?</h2> 
		<div class="col-md-12" align="center"> 
			<div class="text-center">	
				<a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info[at]softhealer.com">Contact Us</span>
				</a> 
			</div> 
		</div> 
	</div> 
</section>

<br/>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
	<h2 class="oe_slogan" style="color:#2C0091;">Help & Support</h2>
	<h3 class="oe_slogan">You will get free support and assistance in case of any issues</h3>
	<br/>
	<div class="text-center">	
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="mailto:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info[at]softhealer.com">Email</span></a>
	    <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com/support/help"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="Softhealer Helpdesk">Helpdesk Support</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://www.softhealer.com"  target="_blank"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="softhealer.com">More About Us</span></a>
            <a style="background: none 0% 0% repeat scroll #1A8CD9; color: white; border-color: rgb(3, 174, 228); position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="skype:info@softhealer.com"><span class="" style="height: 188px; width: 188px; top: -78.9844px; left: 11.6562px;" title="info_736589">Skype</span></a>
    </div>	
  </div>
</section>
