<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12" style="width: 90%">
            <h2 class="oe_slogan">Odoo 11 Loyalty</h2>
            <h3 class="oe_slogan">Allow customers to earn and redeem loyalty Points.</h3>
            <br/>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <h3>
                Features
            </h3>
            <ul>
            	<li style="color:#30054D;font-weight:bold;">Separate Configuration for loyalty.</li>
            	<li style="color:#30054D;font-weight:bold;">Loyalty Point Calculation is based on Products / Order Total.</li>
                <li style="color:#30054D;font-weight:bold;">Earn Points based on product or POS product category.</li>
                <li style="color:#30054D;font-weight:bold;">Send Mails to customers for their loyalty points.</li>
            </ul>
            <h4 class="oe_slogan">How to use</h4>
                <div class="oe_screenshot" style="text-align: left;">
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Loyalty configuration.</li>
                    <li style="color:#30054D;font-weight:bold;">Points calculation based on 2 ways by Order total or by product.</li>
                </ul>
                <img style="max-width: 100%;" src="main_screenshot.png"><br/>
                <img style="max-width: 100%;" src="2.loyalty_config.png"><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Enable configuration to use Loyalty</li>
                </ul>
                <img style="max-width: 100%;" src="3.pos_config.png"><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Loyalty Points based on product or Pos product category</li>
                </ul>
                <img style="max-width: 100%;" src="4.loyalty_point_category.png"><br/>
                <img style="max-width: 100%;" src="5.loyalty_point_product.png"><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Loyalty Points in POS</li>
                </ul>
                <img style="max-width: 100%;" src="6.loyalty.png"><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Earned Loyalty</li>
                </ul>
                <img style="max-width: 100%;" src="7.earned_points.png"><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Redeem Loyalty in POS</li>
                </ul>
                <img style="max-width: 100%;" src="8.redeem_loyalty.png"><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Loyalty in Receipt</li>
                </ul>
                <img style="max-width: 100%;" src="9.receipt.png"><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Redeem Loyalty in Backend</li>
                </ul>
                <img style="max-width: 100%;" src="10.redeemed_points.png"><br/>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
   <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Write us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
           </span>
       </div>
   </div>
</section>