
<section class="oe_container oe_dark"
	style="overflow: hidden; background: #efefef; box-shadow: none;">
	<div class="mt32 mb32">
		<div class="col-md-12">
			<h1 class="oe_slogan" style="color:#f9a109;"> Multicolor Material Backend theme</h1>
			<h2 class="oe_slogan" style="color:#f9a109;"> The Odoo 11.0 community Dynamic backend theme</h2>
			<h2 class="oe_slogan" style="color:#f9a109;"> Based on Material/United Backend Theme by Openworx(Credit goes to them)</h2>
			
		</div>

	</div>
</section>

<section class="oe_container lead">
	<div class="oe_row oe_spaced">
		<div class="oe_span12">
			<span class="label label-success "
				style="font-size: 25px; margin-left: 60px;"> Features</span> <br />
			<br />
			<div class="col-md-12">
				<div class="text-left">
					<p style="text-align: left;"></p>
					<ul>
						<li>Dynamic Theme Color</li>
						<li>Dashboard Background</li>
						<li>Sidebar App Dashboard (Enable/Disable)</li>
						<li>Home Action</li>
					</ul>

				</div>
			</div>


		</div>
	</div>
</section>


<section class="oe_container oe_dark"
	style="overflow: hidden; background: #efefef; box-shadow: none;">
	<div class="mt32 mb32">
		<div class="col-md-12">
			<center>
				<h4 class="oe_slogan">
					<b>Dynamic Theme Color</b>
				</h4>
				<img src="color.gif" />
			</center>
		</div>
	</div>
</section>

<br>
<section class="oe_container oe_dark"
	style="overflow: hidden; background: #efefef; box-shadow: none;">
	<div class="mt32 mb32">
		<div class="col-md-12">
			<center>
				<h4 class="oe_slogan">
					<b>Apps Dashboard</b>
				</h4>

				<img style="display: inline-block;" class="oe_picture oe_screenshot"
					src="app1.png">
			</center>
		</div>
	</div>
</section>


<br>

<section class="oe_container oe_dark"
	style="overflow: hidden; background: #efefef; box-shadow: none;">
	<div class="mt32 mb32">
		<div class="col-md-12">
			<center>
				<h4 class="oe_slogan">
					<b>Sidebar App Dashboard (Enable/Disable)</b>
				</h4>

				<img style="display: inline-block;" class="oe_picture oe_screenshot"
					src="side_1.png">
					
				 <img style="display: inline-block;"
					class="oe_picture oe_screenshot" src="side_2.png">
			</center>
		</div>
	</div>
</section>



<br>











<section class="oe_container oe_dark"
	style="overflow: hidden; background: #efefef; box-shadow: none;">
	<div class="mt32 mb32">
		<div class="col-md-12">

			<h4 class="oe_slogan">
				<span class="label label-success orders_label_text_align"> <span
					class="fa fa-cogs"></span> Configuration
				</span>
			</h4>
			<h5 class="oe_slogan">
				Go To: Settings <span class="fa fa-long-arrow-right"></span>
				Users & Companies <span class="fa fa-long-arrow-right"></span> Companies <span class="fa fa-long-arrow-right"></span> Apps Theme
				Dashboard
			</h5>
			<h4 class="oe_slogan">How To Change Dashboard Background</h4>
			<div class="text-center">

				<img style="display: inline-block;" class="oe_picture oe_screenshot"
					src="conf_1.png">
			</div>
			<h4 class="oe_slogan">How To Set Theme Color</h4>
			<div class="text-center">
				<img style="display: inline-block;" class="oe_picture oe_screenshot"
					src="conf_2.png">
			</div>

			<h4 class="oe_slogan">Enable/Disable Sidebar App Dashboard</h4>
			<h5 class="oe_slogan">
				Go To: Settings <span class="fa fa-long-arrow-right"></span> Users & Companies <span class="fa fa-long-arrow-right"></span>Users <span
					class="fa fa-long-arrow-right"></span> Preferences
			</h5>
			<div class="text-center">
				<img style="display: inline-block;" class="oe_picture oe_screenshot"
					src="conf_3.png">
			</div>
			<h4 class="oe_slogan">How To Set Home Action</h4>
			<div class="text-center">
				<img style="display: inline-block;" class="oe_picture oe_screenshot"
					src="conf_4.png">
			</div>
		</div>
	</div>
</section>


<br>

<section class="oe_container oe_dark"
	style="overflow: hidden; background: #efefef; box-shadow: none;">
	<div class="oe_row oe_spaced">
		<h2 class="oe_slogan">Support</h2>
		<h3 class="oe_slogan" style="font-size: 20px;">You will get 30
			Days free support incase any bugs or issue (Except data recovery).</h3>
		<p class="oe_mt32" style="text-align: center;">
			Incase of any question regarding this module feel free to email us on
			<b> support@itmusketeers.com </b>
		</p>
	</div>
</section>
<br>


<section class="oe_container oe_dark"
	style="overflow: hidden; background: #efefef; box-shadow: none;">
	<div class="oe_row ">
		<div class="oe_slogan text-center">
			<a href="http://odoowikia.com/" target="new"> <img height="150px"
				src="wikia_logo.png">
			</a> <a href="http://www.itmusketeers.com/" target="new"> <img
				height="150px" src="itmcs_logo.png" style="width: 389px;">
			</a> <br>
			<div class="oe_span12">
				<h2 class="text-center">
					<a>Note: OdooWikia is product line introduced by ITMusketeers
						Consultancy Services.Mainly to provide out of the box enterprise
						apps at competitive prices.</a>
				</h2>
				<h2 class="text-center">
					<a>About us</a>
				</h2>
				<p class="oe_mt32" style="text-align: center;">Odoowikia</p>
			</div>
			<span> <a style="color: #a24689 !important;"
				href="http://itmusketeers.com/" target="new">Website</a> | <a
				style="color: #a24689 !important;" href="http://odoowikia.com/"
				target="new">Blog</a> | <a style="color: #a24689 !important;"
				href="http://itmusketeers.com/" target="new">Contact Us</a>
			</span>
		</div>
	</div>
</section>
