.screen .refund-order{
    position: absolute;
    right: 0%;
    top: 65px;
    bottom: 0px;
    left: 0%;
    width: 100%;
}
.pos .line-refund {
    color: firebrick;
}
.pos .clientlist-screen .refund-order .subwindow{
    display: block;
}
.pos .clientlist-screen .refund-order .subwindow-container{
    display: block;
    height: 100%;
}
.pos .clientlist-screen .refund-order .subwindow.collapsed,
.pos .clientlist-screen .refund-order .subwindow-container.collapsed{
    height: auto;
}
.screen .centered-content-new{
    position: absolute !important;
    right:25%; top: 64px !important; bottom: 0px !important;
    left:25% !important;
/*    border-right: dashed 1px rgb(215,215,215) !important;
    border-left: dashed 1px rgb(215,215,215) !important;*/
}
.screen .top-content .reprint {
    right: 0px;
    margin-right: 150px;
}
.screen .screen-content{
    margin: 0px auto;
    max-width: 1500px;
    text-align: left;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.order-details-box clearfix {
    position: relative;
    font-size: 16px;
    background-color: white;
}
.pos.oldorder-details-left{
    width: 50%;
    float: left;
}
.pos.oldorder-detail{
    line-height: 24px;
}
p {
    font-size: 16px;
    line-height: 3;
}
.pos .popup .button {
    float: right;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border: solid 1px rgba(60,60,60,0.1);
    background: rgba(0,0,0,0.05);
}

.pos .modal-dialog .popup{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width:700px;
    height:500px;
    text-align:right;
    font-size:20px;
    font-weight:bold;
    background-color: #F0EEEE;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
    z-index:1200;
    font-family: 'Lato';
    font-family: Lato;
}

.pos .modal-dialog .popup .order_qty_popup{
    height:325px;
}