<section class="oe_container oe_dark lead">
    <h2 class="oe_slogan text-primary text-center">SMS SMPP</h2>
    <h3 class="oe_slogan text-primary text-center">This Application Sends SMS SMPP To Mobile</h3>
  <div class="oe_row">    
      <div class='oe_span12'>
          <div class="panel panel-primary" id="wkid0">
            <div class="panel-body">
                <div class="alert alert-info">
                    <i class="fa fa-arrow-circle-o-right"></i>
                    <b> Basic Features </b>
                </div>
                <ul class="list-unstyled">               
                    <li><i class="fa fa-check text-primary"></i> This application provides facility to send SMS SMPP to the mobile number.For sending SMS this application requires a "SMPP SMS Gateway".</li>           
                    <!--<li><i class="fa fa-check text-primary"></i> This is a base module for any SMS gateway(like:ClickSend Gateway, Twilio Gateway, Plivo Gateway).</li>-->
                    <li><i class="fa fa-check text-primary"></i> Also provides the SMS history facility.</li>
                    <li><i class="fa fa-check text-primary"></i> SMS notification will be sent using SMPP SMS gateway.</li>
                    <li><i class="fa fa-check text-primary"></i> Admin can create SMS Template for sending message.</li> 
                    <li><i class="fa fa-check text-primary"></i> Send message using templates which are globally accessible.</li> 
                    <li><i class="fa fa-check text-primary"></i> SMS Templates can be configured on the basis of Sale, invoice status and POS order,POS Refund, Contact Creation  that will be triggered automatically. </li>
                    <li><i class="fa fa-check text-primary"></i> Multiple SMS templates can be sent at a time that will be triggered automatically. </li>
                    <li><i class="fa fa-check text-primary"></i> If Customer's mobile number is not set, Customer's phone number will be used for sending SMS automatically.</li>
                </ul>
            </div>
          </div>
      </div>
  </div>
</section>
<section class="oe_container">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#sms_notification_view_tab1" data-toggle="tab">
                <h3 class="panel-title"><b>Description</b> </h3>
            </a>
        </li>
        <li>
            <a href="#sms_notification_change_log_tab" data-toggle="tab">
                <h3 class="panel-title"><b>Change Log</b> </h3>
            </a>
        </li>
    </ul>

    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane  active" id="sms_notification_view_tab1">

            <section class="oe_container oe_dark">
                <div class="oe_row">
                    <div class='oe_span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-list-ul"></i>
                                    <b> After installation of this application below shown menu will appear.</b>
                                </div>
                                <div>
                                    <div class="oe_demo oe_picture oe_screenshot">
                                        <a href="smppsms1.png">
                                        <img class="img-border img-responsive thumbnail" src="smppsms1.png">
                                        </a>
                                    </div>            
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
                    
            <section class="oe_container">
                <div class="oe_row">
                    <div class='oe_span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-paperclip"></i>
                                    <b> Required SMPP SMS Configuration. </b>
                                </div>
                                <div>
                                    <div class="oe_demo oe_picture oe_screenshot">
                                        <a href="smppsms2.png">
                                        <img class="img-border img-responsive thumbnail" src="smppsms2.png">
                                        </a>
                                    </div>            
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
            
            <section class="oe_container oe_dark">
                <div class="oe_row">
                    <div class='oe_span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-cogs"></i>
                                    <b> Required SMS Gateway Configuration.</b>
                                </div>
                                <div>
                                    <div class="oe_demo oe_picture oe_screenshot">
                                        <a href="smppsms3.png">
                                        <img class="img-border img-responsive thumbnail" src="smppsms3.png">
                                        </a>
                                    </div>            
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
                    
            <section class="oe_container">
                <div class="oe_row">
                    <div class='oe_span12'>
                        <div class="panel panel-primary" id="wkid0">
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    <i class="fa fa-cogs"></i>
                                    <b> SMS History  </b>
                                </div>
                                <div>
                                    <div class="oe_demo oe_picture oe_screenshot">
<!--                                        <a href="smppsms4.png">
                                        <img class="img-border img-responsive thumbnail" src="smppsms4.png">
                                        </a>-->
                                        <a href="smppsms5.png">
                                        <img class="img-border img-responsive thumbnail" src="smppsms5.png">
                                        </a>
                                    </div>            
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
            </section>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Complimentary Support</h2>
            <p>
            You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.
            </p>
        </div>
    </div>
  </section>
  
  <section class="oe_container lead">
      <div class="oe_row oe_spaced">
          <div class="oe_span12">
              <h2 class="text-center"><a> Help &amp; Support</a></h2>
          </div>
          <br>
          <div class="oe_slogan oe_spaced text-center">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="http://www.knacktechs.com/">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="http://www.knacktechs.com/">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
    onMouseOut="this.style.color='#7c7bad'" target="_blank" style="color:#7c7bad;" href="http://www.knacktechs.com/">Request new Features</a></span>
          </div>
      </div>
  </section>
    


	