.pos .pos-sale-ticket {
    text-align: left;
    width: 400px;
    color: black;
    background-color: white;
	/*margin: 20px;*/
    padding-left: 1px;
    padding-right: 20px;
    font-size: 11px;
    padding-bottom:20px;
    display: inline-block;
    font-family: "Inconsolata";
    border: solid 1px rgb(220,220,220);
    border-radius: 3px;
    overflow: hidden;
}