<section class="oe_container">
    <div>
        <div class="text-center">
            <a target="new" href="http://www.acespritech.com">
                <img src="ace_logo.png" style="width:200px">
            </a>
        </div>
    </div>
</section>
<br/>
<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Odoo 11 POS Customer Screen Promotion</h2>
            <h3 class="oe_slogan">Allows user to get various Promotional Offers on products and Advertise them.</h3>
            <br/>
            <div><font style="color:red;font-weight:bold;"><b>Note: </b>This module is tested and working in Odoo community edition but not tested in Enterprise version. And we are supporting Ubuntu OS and not Windows OS.</font></div>
            <div>
                <h3>
                    Features
                </h3>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Get Promotional Offers on Products</li>
                    <li style="color:#30054D;font-weight:bold;">Define Brands on Products.</li>
                    <li style="color:#30054D;font-weight:bold;">Buy X Item Get Y Item Free.</li>
                    <li style="color:#30054D;font-weight:bold;">Buy X Item Get Discount on Y Item.</li>
                    <li style="color:#30054D;font-weight:bold;">Discount(%) on Total Order Amount.</li>
                    <li style="color:#30054D;font-weight:bold;">Percent Discount on Quantity.</li>
                    <li style="color:#30054D;font-weight:bold;">Fixed Discount on Quantity.</li>
                    <li style="color:#30054D;font-weight:bold;">Discount on Conbination of Product.</li>
                    <li style="color:#30054D;font-weight:bold;">Discount on Multiple Categories.</li>
                    <li style="color:#30054D;font-weight:bold;">Discount on Above Price.</li>
                    <li style="color:#30054D;font-weight:bold;">Advertise them to customer on customer screen.</li>
                </ul>
            </div>
            <h4 class="oe_slogan">How to use</h4>
            <div class="oe_screenshot" style="text-align: left;">
                <ul>
                    <li style="color:#30054D;font-weight:bold;">To get Promotional Offers, select any one of the "Promotion Type".</li>
                </ul>
                <img style="max-width: 100%;" src="Promo_list.png"><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Description of all promotional offers are shown in the below images.</li>
                </ul>
                <img style="max-width: 100%;" src="BuyXGetY.png"><br /><br />
                <img style="max-width: 100%;" src="buyXdiscY.png"><br /><br />
                <img style="max-width: 100%;" src="DiscOnTotal.png"><br /><br />
                <img style="max-width: 100%;" src="DiscOnQty.png"><br /><br />
                <img style="max-width: 100%;" src="FixDiscOnQty.png"><br /><br />
                <img style="max-width: 100%;" src="DiscOnCombo.png"><br /><br />
                <img style="max-width: 100%;" src="DiscOnCateg.png"><br /><br />
                <img style="max-width: 100%;" src="DiscOnPrice.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Configuration of Customer Screen.</li>
                </ul>
                <img style="max-width: 100%;" src="1_pos_setting.png"><br /><br />

                <ul>
                    <li style="color:#30054D;font-weight:bold;">Applied promotions can be seen as below.</li>
                    <li style="color:#30054D;font-weight:bold;">Click on customer display to open customer screen.</li>
                </ul>
                <img style="max-width: 100%;" src="pos_screen.png"><br /><br/>
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Here we can see POS Customer Screen.</li>
                </ul>
                <img style="max-width: 100%;" src="main_screenshot.png"><br /><br />
                <img style="max-width: 100%;" src="set_customer.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Applied promotions can also be seen on the Receipt Screen.</li>
                </ul>
                <img style="max-width: 100%;" src="receipt_screen.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Rating will be saved in back end pos order.</li>
                </ul>
                <img style="max-width: 100%;" src="3_back_order.png"><br /><br />
                <ul>
                    <li style="color:#30054D;font-weight:bold;">Define Brands for products.</li>
                </ul>
                <img style="max-width: 100%;" src="Brands.png"><br />
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
   <div class="oe_row" style="background-color: #008000;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
               <h3 class="text-center" style="color:#FFFFFF; font-size:20px"><b>NOTE:</b> We give 60 days support for our customers. Before trying in your live db, please ask us to provide you for test link. If any other custom modules are installed and because of that some errors occurs then we charge extra.</h3>
           </div>
       </div>
   </div>
   <div class="oe_row" style="background-color: #004CFF;"> 
       <div style="margin-bottom:10px;" class="oe_slogan text-center">
           <div class="oe_span12">
           <h3 class="text-center" style="color:#FFFFFF; font-size:20px">Contact us for support, query, customization</h3>
       </div>
           <span>
               <a target="new" href="http://www.acespritech.com" style="color: yellow !important;font-weight:bold;">Website</a> | 
               <a target="new" href="http://www.acespritechblog.com" style="color: yellow !important;font-weight:bold;">Blog</a> | 
               <a href="mailto:info@acespritech.com" style="color: yellow !important;font-weight:bold;">Write us</a>
               | <a style="color: yellow !important;font-weight:bold;">Skype: acespritech</a>
           </span>
       </div>
   </div>
</section>